<a href='/'>Home</a> <%= @project.name%> 
<div id='project_<%= @project.guid %>'>Loading...</ul>
<script>
  $.get('<%= @project.url %>/update')
  $('#project_<%= @project.guid %>').load('<%= @project.url %>/to_html_table', function() {
    // Create useful links
    $("td:contains('cenario'),td:contains('teps')").wrapInner("<a href='<%= @project.url%>/cucumber_results_tweaked'/>")
    $("td:contains('github.com')").wrapInner("<a href='<%= @project.github_url%>'/>")
  });
</script>
